
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .noScroll {
    overflow-x: auto; /* Keep overflow for scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  }
  .item::before{
    content: "";
    position: absolute;
    background-color: white;
    top: 40%;
    left: 10%;
    z-index: -1;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-100px); /* Optional: adds a slight upward movement */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Reset to original position */
    }
  }
  
  .noScroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
.card{
  margin: 0 auto;
  padding: 2em;
  position: relative;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  /* height: 105%;
  width: 105%; */
  background-image: conic-gradient(from var(--angle), transparent 70%,blue);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 12px;
  animation: 3s spin linear infinite;
}
.card::before{
  filter: blur(0rem);
  opacity: 1;
}
.card.dark-mode::after,
.card.dark-mode::before {
  background-image: conic-gradient(from var(--angle), transparent 70%, #daa4ff); /* or another dark-mode color */
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
.line::after{
 content: '';
  position: absolute;
  width: 0%;
  background-color: rgb(5, 113, 255);
  height: 3px;
  bottom: 0%;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.line:hover::after{
  width: 100%;
}


  html {
  scroll-behavior: smooth;
    scroll-padding-top: 300px;
}
  body{
    overflow-x: hidden;
  }

  @keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }